#left-cross, #right-cross {
    border: solid black 1px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#right-cross {
    right: 10px;
    left: initial;
}
#switch-arming {
    width: 20px;
    height: 20px;
    position: absolute;
    left: calc(50% - 10px);
}