#left-cross, #right-cross {
    border: solid black 1px;
    position: absolute;
    bottom: 30px;
    left: 10px;
}
#right-cross {
    right: 10px;
    left: initial;
}
#switch-arming {
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(50% - 20px);
}